:root {
    --border-radius: 10px;
    --textsize-tall: 18pt;
    --textsize-reg: 12pt;
    --textsize-med: 10pt;
    --textsize-small: 8pt;

    --fg-color: black;
    --primary-bg: white;
    --secondary-bg: rgb(253, 253, 253);
    --primary-highlight: mediumpurple;
    --secondary-highlight: rgb(205, 194, 228);
    --border-line: 1px solid rgb(221, 221, 221);
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body {
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.stage-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    cursor: crosshair;
}

.react-interface {
    position: relative;
    display: inline-block;
}

#titlebar-container {
    padding: 10px;

    & > div {
        padding: 5px;
        border: var(--border-line);
        background-color: var(--primary-bg);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        & > div {
            display: flex;
            gap: 5px;

            button {
                height: 36px;
                border: none;
                background-color: var(--primary-bg);
        
                img, svg {
                    height: 80%;
                    padding: 0;
                    margin: 0;
                }
            }
            
            span {
                font-size: var(--textsize-med);
                margin: 0;
                padding: 0;
            }

            input {
                font-size: var(--textsize-reg);
                color: black;
                background-color: transparent;
                outline: none;
                border: none;
                padding: 0;
                margin: 0;
                max-width: 140px;
            }

            .select-dir {
                font-size: var(--textsize-med);
                background-color: var(--primary-bg);
                position: absolute;
                display: flex;
                flex-direction: column;
                user-select: none;
                color: gray;

                &:hover {
                    border-radius: var(--border-radius);
                    box-shadow: var(--box-shadow);
                    background-color: var(--secondary-bg);
                    
                    ul { display: block }
                }

                ul {
                    border-radius: 0 0 var(--border-radius) var(--border-radius);
                    overflow: hidden;
                    color: black;
                    display: none;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    

                    li {
                        padding: 0 10px;
                        
                        &:hover {
                            background-color: var(--primary-highlight);
                        }
                    }
                }
            }
        }
    }
}

#commandbar-container {
    display: block;
    font-size: 10pt;

    .commandbar {
        overflow: hidden;
        max-width: 140px;
        border-radius: var(--border-radius);
        border: var(--border-line);
        background-color: var(--primary-bg);
        box-shadow: var(--box-shadow);

        input {
            line-height: 16pt;
            font-size: 10pt;
            color: black;
            padding: 0 6px;
            background: none;
            outline: none;
            border: none;
            width: 90%;
            background-color: none;
        }

        ul {
            cursor: pointer;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: var(--secondary-bg);
            li {
                padding: 2px 6px;
            }
        }
    }
}

#toolbar-container {
    position: absolute;
    padding: 10px;
    bottom: 0px;
    width: 100vw;
    background-color: transparent;
    
    div {
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        
        & > div {
            background-color: var(--primary-bg);
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);
            border: var(--border-line);
            padding: 5px;
            display: flex;
            gap: 5px;

            button {
                display: inline-block;
                padding: 8px;
                border: none;
                border-radius: var(--border-radius);
                background-color: var(--primary-bg);

                &:hover {
                    background-color: var(--secondary-highlight);
                }

                svg {
                    height: var(--textsize-reg);
                    width: height;
                }
            }

            button.active-tool {
                background-color: var(--primary-highlight);
                
                svg {
                    g {
                        stroke: white;
                    }
                }
            }
        }
    }
}

/* Display order */
#grid-container { z-index: 0; }
#modelspace-container { z-index: 1; }
.react-interface { z-index: 2; }