:root {
  --border-radius: 10px;
  --textsize-tall: 18pt;
  --textsize-reg: 12pt;
  --textsize-med: 10pt;
  --textsize-small: 8pt;
  --fg-color: black;
  --primary-bg: white;
  --secondary-bg: rgb(253, 253, 253);
  --primary-highlight: mediumpurple;
  --secondary-highlight: rgb(205, 194, 228);
  --border-line: 1px solid rgb(221, 221, 221);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.stage-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  cursor: crosshair;
}

.react-interface {
  position: relative;
  display: inline-block;
}

#titlebar-container {
  padding: 10px;
}
#titlebar-container > div {
  padding: 5px;
  border: var(--border-line);
  background-color: var(--primary-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
#titlebar-container > div > div {
  display: flex;
  gap: 5px;
}
#titlebar-container > div > div button {
  height: 36px;
  border: none;
  background-color: var(--primary-bg);
}
#titlebar-container > div > div button img, #titlebar-container > div > div button svg {
  height: 80%;
  padding: 0;
  margin: 0;
}
#titlebar-container > div > div span {
  font-size: var(--textsize-med);
  margin: 0;
  padding: 0;
}
#titlebar-container > div > div input {
  font-size: var(--textsize-reg);
  color: black;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  max-width: 140px;
}
#titlebar-container > div > div .select-dir {
  font-size: var(--textsize-med);
  background-color: var(--primary-bg);
  position: absolute;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: gray;
}
#titlebar-container > div > div .select-dir:hover {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-bg);
}
#titlebar-container > div > div .select-dir:hover ul {
  display: block;
}
#titlebar-container > div > div .select-dir ul {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
  color: black;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
#titlebar-container > div > div .select-dir ul li {
  padding: 0 10px;
}
#titlebar-container > div > div .select-dir ul li:hover {
  background-color: var(--primary-highlight);
}

#commandbar-container {
  display: block;
  font-size: 10pt;
}
#commandbar-container .commandbar {
  overflow: hidden;
  max-width: 140px;
  border-radius: var(--border-radius);
  border: var(--border-line);
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow);
}
#commandbar-container .commandbar input {
  line-height: 16pt;
  font-size: 10pt;
  color: black;
  padding: 0 6px;
  background: none;
  outline: none;
  border: none;
  width: 90%;
  background-color: none;
}
#commandbar-container .commandbar ul {
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--secondary-bg);
}
#commandbar-container .commandbar ul li {
  padding: 2px 6px;
}

#toolbar-container {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  width: 100vw;
  background-color: transparent;
}
#toolbar-container div {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
#toolbar-container div > div {
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: var(--border-line);
  padding: 5px;
  display: flex;
  gap: 5px;
}
#toolbar-container div > div button {
  display: inline-block;
  padding: 8px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-bg);
}
#toolbar-container div > div button:hover {
  background-color: var(--secondary-highlight);
}
#toolbar-container div > div button svg {
  height: var(--textsize-reg);
  width: height;
}
#toolbar-container div > div button.active-tool {
  background-color: var(--primary-highlight);
}
#toolbar-container div > div button.active-tool svg g {
  stroke: white;
}

/* Display order */
#grid-container {
  z-index: 0;
}

#modelspace-container {
  z-index: 1;
}

.react-interface {
  z-index: 2;
}/*# sourceMappingURL=index.css.map */